html {
    height: 100%;
}
body {
    font-family: 'Inter';

    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/* Header *Start* */

.header > .container {
    margin: 0 10%;
    padding: 27px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header > .container > .header-contact {
    font-weight: 400;
    font-size: 15px;
    line-height: 120%;
    text-decoration: none;

    color: #5B5B5B;
}
.logo {
    display: block;
    width: 91px;
    height: 44px;

    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
    background-position: center center;
}
.header-nav {
}
.header-nav__item {
    position: relative;
    padding: .5em calc(1em + 4px);

    font-weight: 400;
    font-size: 15px;
    line-height: 120%;
    text-decoration: none;

    color: #131418;
}
.header-nav__item:not(:last-child) {
    margin-right: 89px;
}
.gray {
}
.header-nav__counter {
    position: absolute;
    top: 0;
    right: 0;

    width: 1em;
    height: 1em;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #001894;
    border-radius: 50%;
}
.header-nav__counter > span {
    font-weight: 400;
    font-size: 10px;
    line-height: 1em;
    color: #FAFAFD;
}

/* Header *Stop* */

/* Footer *Start* */

.footer {
    color: #FAFAFD;
    background: #131418;
}
.footer > .container {
    margin: 0 10%;
    padding-top: 83px;
    padding-bottom: 57px;

    display: flex;
    align-items: flex-end;
    flex-direction: row;
}
.footer__left {
    display: flex;
    flex-direction: column;
}
.footer__left + .footer__right {
    margin-left: 251px;
}
.footer__title {
    font-size: 96px;
    line-height: 90%;

    white-space: nowrap;
}
.footer-nav {
    display: flex;
    flex-direction: column;
}
.footer__title + .footer-nav {
    margin-top: 110px;
}
.footer-nav__item {
    text-decoration: none;
    color: #FAFAFD;
}
.footer-nav__item:not(:last-child) {
    margin-bottom: 32px;
}
.footer__copyright {
    font-weight: 300;
    font-size: 15px;
    line-height: 150%;
}
.footer-nav + .footer__copyright {
    margin-top: 235px;
}
.footer__right {
}
.footer-form {
}
.footer-form__text {
    margin-top: 49px;
    margin-bottom: 94px;
    max-width: 316px;

    font-weight: 300;
    font-size: 15px;
    line-height: 150%;
}
.footer-form__input {
    padding: 17px 0;
    width: 100%;

    background-color: transparent;

    font-weight: 300;
    font-size: 15px;
    line-height: 150%;
    color: #FAFAFD;

    border: none;
    border-bottom: .6px solid #FAFAFD;

    outline: none;
}
.footer-form__input::placeholder {
    color: #5B5B5B;
}
.footer-form__input:not(:last-child) {
    margin-bottom: 20px;
}
.footer-form__button {
    padding: 16.5px 39px;

    font-weight: 400;
    font-size: 15px;
    line-height: 120%;
    
    border: none;
    background: #FAFAFD;

    transition: linear .2s;
    cursor: pointer;
}
.footer-form__button:hover {
    background-color: #000;
    color: #fff;
}
.footer-form__input + .footer-form__button {
    margin-top: 18px;
}
.footer-form__disclaimer {
    margin-top: 154px;
    max-width: 298px;

    font-weight: 300;
    font-size: 12px;
    line-height: 120%;
}

/* Footer *Stop* */

/* Preloader *Start* */
.main-section {
    position: relative;

    width: 100%;
    height: 734px;

    background-image: url(../img/главный\ фон.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.main-section > .container {
    padding: 56px 10%;

    height: calc(100% - 112px);
    width: calc(100% - 20%);

    display: flex;
    justify-content: space-between;
    align-items: end;

    background-image: url(../img/cross-white.svg);
    background-repeat: no-repeat;
    background-position: 10% 57px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #FAFAFD;
}
.main-section__wrapper {
    display: flex;
    justify-content: space-between;
}
.main-section__title {
    white-space: nowrap;

    font-weight: 400;
    font-size: 92px;
    line-height: 90%;
    text-transform: uppercase;
}
.main-section__h2 {
    font-weight: 400;
    font-size: 15px;
    line-height: 120%;
}
.main-section__text {
    max-width: 50%;

    font-weight: 300;
    font-size: 15px;
    line-height: 150%;
}

.preloader {
    position: absolute;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;

    background-color: #FAFAFD;
    background-image: url(../img/cross.svg);
    background-position: 112px 156px;
    background-repeat: no-repeat;
    background-size: 87px;

    color: #131418;
}
.preloader.hidden {
    animation: linear .5s fadeIn forwards;
}
.preloader > .container {
    margin: 0 112px;
    padding: 156px 0;
    height: calc(100% - 312px);

    display: flex;
    justify-content: space-between;
    align-items: end;
}
.preloader__description {
    display: flex;
    flex-direction: column;
}
.preloader__title {
    text-transform: uppercase;

    font-weight: 400;
    font-size: 92px;
    line-height: 90%;
}
.preloader__text {
    font-weight: 400;
    font-size: 15px;
    line-height: 120%;
}
.preloader__title + .preloader__text {
    margin-top: 16px;
}
.preloader__load-wrapper {
    width: 40%;
}
.preloader__description + .preloader__load-wrapper {
    margin-left: 0;
}
.preloader__load-text {
}
.preloader__load-text + .loading-bar {
    margin-top: 11px;
}
.loading-bar {
    position: relative;

    width: 100%;
    height: 4px;
    background-color: #F0F0F0;
}
.loading-bar__line {
    position: absolute;
    top: 0;
    left: 0;

    max-width: 100%;
    height: 100%;

    background-color: #001894;

    transition: width linear .3s;
}
@keyframes fadeOut {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeIn {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
/* Preloader *Stop* */

/* Our staff page *Start* */

.our-staff > .container {
    margin: 48px 10%;

    display: flex;
}
.staff-sidebar {
    min-width: 285px;
    height: 514px;

    color: #FAFAFD;
    background-color: #131418;
}
.staff-sidebar > .container {
    padding: 33px 24px;
    width: calc(100% - 48px);
    height: calc(100% - 66px);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.staff-sidebar .logo {
    background-image: url(../img/logo-white.svg);
}
.staff-sidebar__description {

}
.staff-sidebar__title {
    max-width: 189px;

    font-weight: 400;
    font-size: 32px;
    line-height: 90%;
}
.staff-sidebar__text {
    font-weight: 300;
    font-size: 15px;
    line-height: 150%;
}
.staff-sidebar__title + .staff-sidebar__text {
    margin-top: 23px;
}
.staff-socials {
    display: flex;
    align-items: center;
}
.staff-socials__item {
}
.staff-socials__item:not(:last-child) {
    margin-right: 23px;
}
.staff-socials__icon {
}
.staff-list {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.staff-sidebar + .staff-list {
    margin-left: 21px;
}
.staff-list__item {
}
.staff-list__preview {
    width: 100%;
    height: 282px;
    background-color: #D9D9D9;
}
.staff-list__title {
    font-weight: 400;
    font-size: 22px;
    line-height: 135%;
}
.staff-list__preview + .staff-list__title {
    margin-top: 12px;
}
.staff-list__title + .staff-list__text {
    margin-top: 13px;
}
.staff-list__text {
    font-weight: 300;
    font-size: 15px;
    line-height: 150%;
}


/* Our staff page *Stop* */

/* Articles page *Start* */

.articles-section > .container {
    margin: 64px 10% 288px 30px;

    display: flex;
}
.articles-sidebar {
    padding: 32px 11px 32px 32px;
    min-width: 405px;
}
.search {
    position: relative;
    padding-right: 18px;
    border-bottom: 0.6px solid #131418;
}
.search__input {
    padding-top: 9.5px;
    padding-bottom: 17.5px;

    width: 100%;

    border: none;
    background-color: transparent;
    font-weight: 300;
    font-size: 15px;
    line-height: 150%;
    color: #000;

    outline: none;
}
.search__input::placeholder {
    color: #5B5B5B;
}
.search__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;

    width: 18px;
    height: 16px;

    border: none;
    background-color: transparent;
    background-image: url(../img/search.svg);
    background-repeat: no-repeat;
    background-position: center center;
}
.articles-list {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.articles-sidebar + .articles-list {
    margin-left: 11px;
}
.articles-list__item {
    position: relative;
    display: block;

    height: 478px;
    width: 100%;

    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;

    color: #FAFAFD;
}
.articles-list__item > .container {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: calc(100% - 48px);
    height: calc(100% - 56px);

    padding: 28px 24px;

    background: rgba(0, 0, 0, 0.6);
}
.articles-list__link {
    margin-left: auto;
    color: inherit;
    text-decoration: none;
}
.articles-list__title {
    font-weight: 400;
    font-size: 46px;
    line-height: 100%;
}
.articles-list__text {
    max-width: 280px;

    font-weight: 300;
    font-size: 15px;
    line-height: 150%;
}
.articles-list__title + .articles-list__text {
    margin-top: 24px;
}
/* Articles page *Stop* */


/* Catalogue page *Start* */

.catalogue > .container {
    margin: 24px 10% 53px 0;

    display: flex;
}
.catalogue-sidebar {
    padding-left: 32px;
    padding-right: 11px;
    min-width: 405px;
}
.catalogue-sidebar .search {
    margin-bottom: 32px;
}
.catalogue-sidebar__map {
    width: 100%;
    height: fit-content;
}
.catalogue-sidebar__map > * {
    width: 100%;
    height: 269px;
}
.catalogue-content {
    width: 100%;

    display: flex;
    flex-direction: column;
}
.catalogue-sidebar + .catalogue-content {
    margin-left: 20px;
}
.catalogue-content__header {
    margin-bottom: 32px;
    width: 100%;

    background-image: url(../img/catalogue-header.jpg);
    background-position: center center;
    background-position: center center;
    background-size: 100% auto;

    color: #F0F0F0;
}
.catalogue-content__header > .container {
    padding: 96px 32px 21px 32px;

    background-color: rgba(0, 0, 0, 0.7);
}
.catalogue-content__title {
    font-weight: 400;
    font-size: 32px;
    line-height: 90%;
}
.catalogue-content__text {
    font-weight: 300;
    font-size: 15px;
    line-height: 150%;
}
.catalogue-content__title + .catalogue-content__text {
    margin-top: 16px;
}
.apartament-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.offer-section__wrapper .apartament-list__item {
    min-width: 437px;
    max-width: 437px;
}
.apartament-list__preview {
    width: 100%;
    height: 329.12px;
}
.apartament-list__preview > img {
    display: none;
    width: 100%;
    height: 100%;

    animation: fadeOut linear .3s;
}
.apartament-list__preview > img.current {
    display: block;
}
.preview-paggination {
    display: flex;
    align-items: center;
    justify-content: center;
}
.apartament-list__item .preview-paggination {
    margin-top: 12px;
    margin-bottom: 20px;
}
.preview-paggination__item {
    display: block;

    width: 8px;
    height: 8px;
    border-radius: 50%;

    background: #000;
    opacity: 0.6;

    transition: transform linear .3s;
    cursor: pointer;
}
.preview-paggination__item:not(:last-child) {
    margin-right: 12px;
}
.preview-paggination__item.selected {
    transform: scale(1.4);
    opacity: 0.9;
}
.apartament-list__header {
    display: flex;
    justify-content: space-between;
}
.apartament-list__header > div:first-child {
    display: flex;
    align-items: center;
}
.apartament-list__address {
    font-weight: 300;
    font-size: 12px;
    line-height: 135%;

    color: #5B5B5B;
}
.apartament-list__icons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.apartament-list__icons > img:not(:last-child) {
    margin-right: 7px;
}
.apartament-list__address + .apartament-list__icons {
    margin-left: 12px;
}
.apartament-list__favorite-btn {
    width: 28.01px;
    height: 25px;

    border: none;
    background-color: transparent;
    background-image: url(../img/heart.svg);
    background-position: center center;
    background-repeat: no-repeat;

    cursor: pointer;
    transition: background-image linear .2s;
}
.apartament-list__favorite-btn.filled {
    background-image: url(../img/heart-filled.svg);
}
.apartament-list__price {
    font-weight: 400;
    font-size: 22px;
    line-height: 135%;

    color: #131418;
}
.apartament-list__tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.apartament-list__price + .apartament-list__tags {
    margin-top: 5px;
}
.apartament-list__tag {
    font-weight: 300;
    font-size: 15px;
    line-height: 150%;
}
.apartament-list__tag:not(:last-child) {
    margin-right: 19px;
}
.apartament-list__location {
    font-weight: 300;
    font-size: 15px;
    line-height: 150%;
}
.apartament-list__tags + .apartament-list__location {
    margin-top: 3px;
}


.filter-section {

}
.catalogue-sidebar__map + .filter-section {
    margin-top: 32px;
}
.filter-section:not(:last-child) {
    margin-bottom: 32px;
}
.filter-section__header {
    display: flex;
    align-items: center;

    user-select: none;
    cursor: pointer;
}
.filter-section__title {
    font-weight: 400;
    font-size: 22px;
    line-height: 135%;

    color: #131418;
}
.filter-section__icon {
    height: 20px;
    width: 20px;

    background-image: url(../img/expand-icon.svg);
    background-position: center center;
    background-repeat: no-repeat;

    transform: rotate(180deg);

    transition: transform linear .3s;
}
.filter-section.opened .filter-section__icon {
    transform: rotate(0deg);
}
.filter-section__title + .filter-section__icon {
    margin-left: 8px;
}
.filter-section__header + .filter-section__content {
    margin-top: 24px;
}
.filter-section__content {
    display: none;
}
.filter-section.opened .filter-section__content {
    display: block;
}
.filter-list {
    display: flex;
    flex-wrap: wrap;
}
.filter-list__item {
    padding: 8px 13px;
    margin-bottom: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #131418;
    background-color: #F0F0F0;
    cursor: pointer;

    transition: background-color linear .3s;
}
.filter-list__item:not(:last-child) {
    margin-right: 10px;
}
.filter-list__item.selected {
    color: #FAFAFD;
    background-color: #131418;
}

/* Price range *Start* */

.ui-slider {
    position: relative;
    text-align: left;
}
.ui-slider-horizontal {
    height: 2px;
}
.ui-widget {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1em;
}
.ui-widget-content {
    border: 1px solid #ddd;
    background: #5B5B5B;
    color: #333;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 3px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 3px;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 3px;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 3px;
}
.ui-widget.ui-widget-content {
    border: 1px solid #c5c5c5;
}
.ui-widget-header {
    border: 1px solid #ddd;
    background:  #001894;
    color: #333;
    font-weight: bold;
}
.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    background-position: 0 0;
}
.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
}
.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
    -ms-touch-action: none;
    touch-action: none;
}
.ui-slider-horizontal .ui-slider-handle {
    top: 50%;
    transform: translateY(-50%);
    margin-left: -.6em;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    background: #001894;
    font-weight: normal;
    color: #454545;
}
.price-range {
    margin-bottom: 50px;
}
.price-range__min, .price-range__max {
    position: absolute;
    top: calc(100% + 7px);

    font-weight: 300;
    font-size: 15px;
    line-height: 150%;
}
.price-range__max {
    right: 0;
}
.checkbox-list__item {
    display: flex;
    align-items: center;
}
.checkbox-list__item:not(:last-child) {
    margin-bottom: 12px;
}
.checkbox {
    appearance: none;
    position: relative;
    margin: 0 20px 0 0;

    width: 18px;
    height: 18px;
}
.checkbox::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 18px;
    height: 18px;

    box-sizing: border-box;
    border: 1px solid #131418;

    transition: linear .2s;
}
.checkbox:checked::before {
    background-color: #000;
}
.checkbox:checked::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-image: url(../img/checkmark.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 80%;
}
/* Price range *Stop* */

.date-picker {
    width: fit-content;

    display: flex;
    align-items: center;

    padding: 6.5px 14px;

    background-color: #F0F0F0;
}
.date-picker .separator {
    margin: 0 22px;

    height: 16px;
    width: 2px;

    background-color: #131418;
}
.date-picker > input {
    appearance: none;
    background: none;
    border: none;

    outline: none;
}

.catalogue-banner {
    width: 100%;

    color: #FAFAFD;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}
.catalogue-banner > .container {
    padding: 49px 24px;
    height: calc(100% - 98px);

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: rgba(0, 0, 0, 0.7);

    color: inherit;
    text-decoration: none;
}
.catalogue-banner__description {
}
.catalogue-banner__title {
    font-weight: 400;
    font-size: 32px;
    line-height: 90%;
}
.catalogue-banner__text {
    font-weight: 400;
    font-size: 15px;
    line-height: 120%;
}
.catalogue-banner__title + .catalogue-banner__text {
    margin-top: 12px;
}
.learn-more {
    padding-right: 30px;

    background-image: url(../img/learn-more.svg);
    background-repeat: no-repeat;
    background-position: right center;
    background-color: transparent;
    border: none;

    font-weight: 400;
    font-size: 15px;
    line-height: 120%;

    color: #FAFAFD;
}
.catalogue-banner:not(:first-child) {
    margin-top: 30px;
}
.catalogue-banner:not(:last-child) {
    margin-bottom: 30px;
}

.catalogue-paggination {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.catalogue-paggination:not(:first-child) {
    margin-top: 30px;
}
.catalogue-paggination__prev, .catalogue-paggination__next {
    padding: 10px;
    margin-bottom: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #F0F0F0;
}
.paggination-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.paggination-list:not(:first-child) {
    margin-left: 16px;
}
.paggination-list:not(:last-child) {
    margin-right: 16px;
}
.paggination-list__item {
    padding: 10px;
    margin-bottom: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #F0F0F0;

    cursor: pointer;
}
.paggination-list__item.selected {
    background-color: #131418;
    color: #FAFAFD;
}
.paggination-list__item > img {
    width: 8.75px;
    height: 16.68px;
}
.paggination-list__item:not(:last-child) {
    margin-right: 16px;
}
.catalogue-paggination__next > img {
    transform: rotate(180deg);
}

/* Catalogue page *Stop* */

/* Product page *Start* */

.product-page > .container {
    margin: 0 10%;
}
.breadcrumbs {
    display: flex;
    align-items: center;
}
.breadcrumbs__item {
    display: flex;
    align-items: center;
}
.breadcrumbs__item > * {
    font-weight: 400;
    font-size: 15px;
    line-height: 120%;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    color: #131418;
}
.breadcrumbs__item:not(:last-child)::after {
    content: "";
    margin: 0 8px;

    display: inline-block;

    width: 16px;
    height: 16px;

    background-image: url(../img/breadcrumbs-arrow.svg);
    background-position: center center;
    background-repeat: no-repeat;
}
.breadcrumbs__item:last-child > * {
    color: #5B5B5B;
}
.product-page__header {
    display: flex;
    align-items: center;
}
.product-page__header:not(:first-child) {
    margin-top: 12px;
}
.product-page__title {
    font-weight: 400;
    font-size: 46px;
    line-height: 100%;

    color: #131418;
}
.product-interactions {
    margin-left: 80px;

    display: flex;
    align-items: center;
}
.product-interactions > :not(:last-child) {
    margin-right: 8px;
}
.wishlist-btn {
    width: 32px;
    height: 32px;

    border: none;
    background-color: transparent;
    background-image: url(../img/heart.svg);
    background-position: center center;
    background-repeat: no-repeat;

    cursor: pointer;
    transition: background linear .2s;
}
.wishlist-btn.filled {
    background-image: url(../img/heart-filled.svg);
}
.share-btn {
    width: 32px;
    height: 32px;

    border: none;
    background-color: transparent;
    background-image: url(../img/share.svg);
    background-position: center center;
    background-repeat: no-repeat;

    cursor: pointer;
}
.product-gallery:not(:first-child) {
    margin-top: 16px;
}
.product-gallery {
    position: relative;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.product-gallery > img:first-child {
    width: 100%;
}
.product-gallery__images {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}
.product-gallery__images > img {
    width: 100%;
    height: 100%;
}
.product-gallery__see-all {
    position: absolute;
    padding: 6px 20px;

    bottom: 16px;
    right: 16px;

    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    color: #131418;

    border: none;
    background-color: #FAFAFD;

    cursor: pointer;
}
.product-content {
    margin: 30px 0;

    display: grid;
    grid-template-columns: 1fr 439px;
    gap: 80px;
}
.product-section {
}
.product-sidebar {
    max-width: 420px;
}
.product-sidebar__top {
    display: flex;
    margin-bottom: 25px;
}
.product-sidebar__price {
    display: flex;
    flex-direction: column;
    margin-right: 32px;
}
.product-sidebar__price > :first-child {
    font-weight: 500;
    font-size: 22px;
    line-height: 120%;

    color: #131418;
}
.product-sidebar__price > :last-child {
    font-weight: 400;
    font-size: 15px;
    line-height: 120%;

    text-decoration: line-through;

    color: #131418;
}
.product-sidebar .product-tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.product-sidebar .product-tags__item {
    font-weight: 400;
    font-size: 15px;
    line-height: 120%;

    color: #131418;
}
.product-sidebar .product-tags__item:not(:last-child) {
    margin-right: 22px;
}
.product-sidebar__buttons {
    display: flex;
    align-items: center;
}
.product-sidebar__text {
    margin-bottom: 16px;

    font-weight: 400;
    font-size: 15px;
    line-height: 120%;

    color: #131418;
}
.product-btn {
    padding: 14px;

    border: none;
    background-color: #5B5B5B;

    font-weight: 400;
    font-size: 15px;
    line-height: 120%;
    color: #FAFAFD;

    cursor: pointer;
}
.product-btn > img {
    width: 24px;
    height: 24px;
}
.product-btn:not(:last-child) {
    margin-right: 16px;
}
.product-btn:first-child {
    height: 56px;
    background-color: #131418;
}
.product-sidebar .separator {
    margin: 22px 0;

    width: 100%;
    height: 2px;
    background-color: #F0F0F0;
}
.product-sidebar__links {
    display: flex;
    align-items: center;
}
.product-sidebar__prev, .product-sidebar__next {
    width: 50px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #5B5B5B;
    cursor: pointer;
}
.product-sidebar__prev + .product-sidebar__next {
    margin-left: 16px;
}
.product-sidebar__next > img {
    transform: rotate(180deg);
}

.product-section {
    padding: 30px 0;
}
.product-section:not(:last-child) {
    border-bottom: 1px solid #F0F0F0;
}
.product-section__p {
    font-weight: 300;
    font-size: 15px;
    line-height: 150%;
}
.product-section .product-tags:not(:first-child) {
    margin-top: 8px;
}
.product-section .product-tags__item {
    padding: 5px 20px;
    margin-bottom: 5px;

    display: inline-block;

    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    color: #131418;
    white-space: nowrap;
    text-align: center;
    background-color:  #F0F0F0;
}
.product-section__title {
    margin-bottom: 12px;

    font-weight: 400;
    font-size: 22px;
    line-height: 135%;

    color: #131418;
}
.facilities-icons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.facilities-icons__item {
    margin-bottom: 5px;

    width: 48px;
    height: 48px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #F0F0F0;
}
.facilities-icons__item:not(:last-child) {
    margin-right: 16px;
}
.product-facilities {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}
.product-facilities__item {
    display: flex;
    align-items: center;
}
.product-facilities__icon {
    margin-right: 12px;

    width: 24px;
    height: 24px;
}
.product-section__description {
    font-weight: 300;
    font-size: 15px;
    line-height: 150%;

    color: #131418;
}
.pdf-link {
    padding-left: 28px;

    display: block;

    font-weight: 400;
    font-size: 15px;
    line-height: 120%;
    text-decoration: none;
    color: #131418;

    background-image: url(../img/pdf.svg);
    background-repeat: no-repeat;
    background-position: left center;
}
.product-section__description + .pdf-link {
    margin-top: 32px;
}
.product-map > * {
    width: 100%;
    height: 86px;
}
.product-section__address {
    display: flex;

    font-weight: 300;
    font-size: 12px;
    line-height: 135%;
    color: #5B5B5B;
}
.product-section__address:not(:first-child) {
    margin-top: 18px;
}
.metro-list {
    display: flex;
    align-items: center;
}
.metro-list:not(:first-child) {
    margin-left: 12px;
}
.metro-list__item {
    position: relative;
}
.metro-list__item:not(:last-child) {
    margin-right: 8px;
}
.metro-list__details {
    display: none;

    padding: 6px 12px;
    white-space: nowrap;

    position: absolute;
    top: calc(-100% - 20px);
    left: 50%;

    font-weight: 400;
    font-size: 15px;
    line-height: 120%;
    color: #FFFFFF;

    background-color: #131418;

    z-index: 2;
}
.metro-list__details::before {
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    width: 0;
    height: 0;
    border-right: 13px solid transparent;
    border-top: 13px solid #131418;
    clear: both;
}
.metro-list__item:hover .metro-list__details {
    display: block;
}
.product-banner {
    background-image: url(../img/banner-product.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}
.product-banner > .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    padding: 43px 34px 35px 34px;

    width: calc(100% - 68px);
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    background-image: url(../img/banner-arrow.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 34px) center;
    background-size: 50px 50px;

    text-decoration: none;
}
.product-banner__title {
    font-weight: 400;
    font-size: 32px;
    line-height: 90%;

    color: #F0F0F0;
}
.product-banner__text {
    font-weight: 300;
    font-size: 15px;
    line-height: 150%;
    color: #F0F0F0;
}
.product-banner__title + .product-banner__text {
    margin-top: 13px;
}

.form-overlay {
    display: none;

    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    font-family: 'Raleway'!important;

    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);

    z-index: 5;
}
.form-overlay.opened {
    display: block;
}
.form-overlay > .container {
    margin: 0 auto;
    margin-top: 10vh;
    padding: 40px 37px;

    position: relative;

    width: 70%;

    display: flex;
    flex-direction: column;

    background-color: #F0F0F0;
}
.form-overlay__close {
    position: absolute;
    top: 10px;
    right: 10px;

    width: 43px;
    height: 43px;

    border: none;
    background-color: transparent;
    background-image: url(../img/close.svg);
    background-position: center center;
    background-repeat: no-repeat;
}
.form-overlay__text {
    margin: 0 auto 43px auto;
    display: block;
    width: 50%;
    text-align: center;


    font-weight: 300;
    font-size: 22px;
    line-height: 135%;

    color: #131418;
}
.form-overlay__input {
    padding: 17px 24px;
    width: calc(100% - 48px);
    display: block;

    font-weight: 400;
    font-size: 21px;
    line-height: 26px;

    background-color: #FFFFFF;
    color: #000;
    border: none;

    outline: none;
}
.form-overlay__input + .form-overlay__input {
    margin-top: 20px;
}
.form-overlay__input::placeholder {
    color: #131418;
}
.form-overlay__wrapper {
    margin-top: 40px;

    display: flex;
    width: 100%;
}
.form-overlay__back-btn {
    padding: 18.5px 73px;
    width: calc(100% - 37px);

    margin-right: 19px;

    font-weight: 600;
    font-size: 21px;
    line-height: 25px;
    color: #131418;

    background-color: #FFFFFF;
    border: none;
}
.form-overlay__confirm-btn {
    padding: 18.5px 73px;
    width: calc(100% - 37px);

    font-weight: 600;
    font-size: 21px;
    line-height: 25px;
    color: #F0F0F0;

    background-color: #001894;
    border: none;
}

/* Product page *Stop* */

/* Main page *Start* */

.stories-section > .container {
    margin: 32px 10%;
}
.stories-list {
    padding-bottom: 20px;

    display: flex;
    align-items: center;

    overflow-x: auto;
}
.stories-list__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    cursor: pointer;
}
.stories-list__item:not(:last-child) {
    margin-right: 17px;
}
.stories-list__wrapper {
    position: relative;

    height: 62px;
    width: 62px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.stories-list__border {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    background-image: linear-gradient(to bottom, #E22DD0, #1C4EFF);
    border-radius: 50%;
}
.stories-list__item.checked .stories-list__border {
    background: #5b5b5b;
}
.stories-list__preview {
    position: absolute;
    top: 1px;
    left: 1px;

    width: calc(100% - 2px);
    height: calc(100% - 2px);

    background-color: #D9D9D9;
    border-radius: 50%;
}
.stories-list__item.checked .stories-list__preview {
    border-color: #5B5B5B;
}
.stories-list__title {
    margin-top: 8px;

    font-weight: 300;
    font-size: 12px;
    line-height: 135%;

    color: #131418;
}
.our-mission {
    margin: 48px 0;
}
.our-mission > .container {
    margin: 0 10%;
}
.our-mission__header {
    margin-top: 15px;

    display: flex;
    justify-content: space-between;
}
.section-h3 {
    font-weight: 300;
    font-size: 22px;
    line-height: 135%;

    color: #131418;
}
.section-h2 {
    font-weight: 400;
    font-size: 46px;
    line-height: 90%;

    color: #131418;
}
.section-p {
    font-weight: 300;
    font-size: 15px;
    line-height: 150%;
    color: #131418;
}
.our-mission__header .section-p {
    width: 50%;
}
.our-mission__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.our-mission__img {
    height: 503px;
    margin-right: 120px;
}
.our-mission__content-wrapper {
    width: 50%;
}
.our-mission__content-wrapper > div {
    width: 70%;
    margin-right: auto;
}
.mission-stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 21px;

    margin-bottom: 33px;
}
.mission-stats__item {
}
.mission-stats__value {
    font-weight: 400;
    font-size: 32px;
    line-height: 90%;

    color: #131418;
}
.mission-stats__label {
    font-weight: 300;
    font-size: 15px;
    line-height: 150%;

    color: #131418;
}
.mission-stats__value + .mission-stats__label {
    margin-top: 17px;
}
.search {
}
.search__input {
}
.search__btn {
}

.sections {
    height: 100vh;
}
.section-list {
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.section-list__item {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.section-list__item > .container {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(4px);

    color: #FAFAFD;
    text-decoration: none;

    transition: linear .3s;
}
.section-list__item:hover > .container {
    background: transparent;
    backdrop-filter: none;
}
.section-list__title {
    font-weight: 400;
    font-size: 46px;
    line-height: 100%;
}
.section-list__text {
    font-weight: 300;
    font-size: 15px;
    line-height: 125%;
}
.section-list__title + .section-list__text {
    margin-top: 17px;
}



.offer-section  {
    width: 89vw;
    margin: 180px 0 169px 10%;

    background-image: url(../img/cross.svg);
    background-repeat: no-repeat;
    background-position: left top;
}
.offer-section__header {
    margin-left: auto;
    margin-right: 10%;
    width: 50%;

    display: flex;
    flex-direction: column;
}
.section-h2 + .section-p {
    margin-top: 32px;
}
.offer-section__wrapper {
    width: 100%;
    padding-bottom: 10px;
    overflow-x: auto;
}
.offer-section__wrapper::-webkit-scrollbar {
    height: 5px;
}

.offer-section__wrapper::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}

.offer-section__wrapper::-webkit-scrollbar-thumb {
    background-color: #000000;
}
.offer-section__header + .offer-section__wrapper {
    margin-top: 64px;
}
.offer-section .apartament-list {
    width: 100%;
    display: flex;
}
.try-section {
    padding: 88px 0;
    background-color: #131418;
}
.try-section .section-h2 {
    color: #FAFAFD;
}
.try-section > .container {
    margin: 0 10%;
}
.section-h2 + .lead-wrapper {
    margin-top: 78px;
}
.lead-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 21px;

    animation: fadeOut linear .3s;
}
.lead-wrapper .lead-list {
    display: none;
}
.lead-wrapper .lead-list.current {
    display: grid;
}
.lead-list:not(:first-child) {
    margin-top: 78px;
}
.lead-list__item {
    position: relative;

    width: 100%;
    height: 478px;
}
.lead-list__item:not(:last-child) {
    margin-right: 21px;
}
.lead-list__item > .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    padding: 28px 24px;
    height: calc(100% - 56px);
    width: calc(100% - 48px);

    text-decoration: none;
    color: #FAFAFD;
    background: rgba(0, 0, 0, 0.6);
}
.lead-list__title {
    width: 50%;

    font-weight: 400;
    font-size: 46px;
    line-height: 100%;
}
.lead-list__text {
    width: 50%;

    font-weight: 300;
    font-size: 15px;
    line-height: 150%;
}
.lead-list__title + .lead-list__text {
    margin-top: 24px;
}
.lead-list__btn {
    position: absolute;
    top: 28px;
    right: 24px;


    background-color: transparent;
    border: none;

    font-weight: 400;
    font-size: 15px;
    line-height: 120%;
    color: #FAFAFD;
}
.try-paggination {
    margin: 0 10%;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.try-paggination:not(:first-child) {
    margin-top: 42px;
}
.try-paggination__item {
    width: 8px;
    height: 8px;

    border-radius: 50%;
    background-color: #FAFAFD;
    opacity: 0.5;

    transition: .2s;
    cursor: pointer;
}
.try-paggination__item.selected {
    transform: scale(1.2);
    opacity: 1;
}
.try-paggination__item:not(:last-child) {
    margin-right: 18px;
}
.reviews-section > .container {
    margin: 200px 10%;
}
.section-h2 + .reviews-wrapper {
    margin-top: 11px;
}
.reviews-wrapper {
    display: flex;
}
.reviews-list {
    height: fit-content;

    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
}
.reviews-list + .reviews-list {
    margin-left: 20px;
}
.reviews-wrapper .reviews-list:first-child {
    margin-top: 100px;
}
.reviews-list__item {
    padding: 24px;
    display: flex;

    background-color: #131418;
}
.reviews-wrapper .reviews-list:first-child .reviews-list__item {
    animation: fadeOut linear .4s;
}
.reviews-wrapper .reviews-list:last-child .reviews-list__item {
    animation: fadeOut linear .6s;
}
.reviews-list__preview {
    margin-right: 32px;

    min-width: 58px;
    max-width: 58px;
    height: 58px;

    border-radius: 50%;
    background-color: #D9D9D9;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.reviews-list__name {
    margin-bottom: 6px;

    font-weight: 400;
    font-size: 22px;
    line-height: 135%;

    color: #FAFAFD;
}
.reviews-list__additional {
    margin-bottom: 24px;

    font-weight: 400;
    font-size: 15px;
    line-height: 120%;

    color: #5B5B5B;
}
.reviews-list__description {
    font-weight: 300;
    font-size: 15px;
    line-height: 150%;

    color: #FAFAFD;
}
/* Main page *Stop* */

/* Article page *Start* */

.article-page > .container {
    margin: 189px 10% 0 10%;
}
.article-h1 {
    margin-top: 16px;

    font-weight: 400;
    font-size: 92px;
    line-height: 100%;

    color: #131418;
}
.article-h2 {
    font-weight: 300;
    font-size: 22px;
    line-height: 135%;

    color: #131418;
}
.article-h1 + .article-h2 {
    margin-top: 16px;
}
.article-banner {
    margin: 85px 0 119px 0;

    width: 100%;
    height: 250px;

    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}
.article-section {
    width: 70%;
}
.article-section:not(:last-child) {
    margin-bottom: 200px;
}
.article-h4 {
    font-weight: 400;
    font-size: 22px;
    line-height: 135%;

    color: #131418;
}
.article-h3 {
    margin-bottom: 32px;

    font-weight: 400;
    font-size: 46px;
    line-height: 100%;

    color: #131418;
}
.article-h4 + .article-h3 {
    margin-top: 8px;
}
.text-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 21px;
}
.article-p {
    font-weight: 300;
    font-size: 15px;
    line-height: 150%;

    color: #000000;
}
.article-gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 26px;
}
.article-gallery > img {
    width: 100%;
}
.article-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.article-page .article-form {
    margin: 200px 0;
}
.article-form > img {
    width: 100%;
}
.article-form form {
    display: flex;
    flex-direction: column;
}
.article-form__title {
    font-weight: 400;
    font-size: 46px;
    line-height: 100%;

    color: #131418;
}
.article-form__text {
    font-weight: 300;
    font-size: 15px;
    line-height: 150%;

    color: #000000;
}
.article-form__title + .article-form__text {
    margin-top: 32px;
}
.input {
    padding: 17px 0;

    font-weight: 300;
    font-size: 15px;
    line-height: 150%;
    color: #000;

    background-color: transparent;
    border: none;
    border-bottom: 0.6px solid #131418;

    outline: none;
}
.article-form__text + .input {
    margin-top: 42px;
}
.input::placeholder {
    color: #5B5B5B;
}
.input + .input {
    margin-top: 20px;
}
.button {
    padding: 16.5px 31px;

    font-weight: 400;
    font-size: 15px;
    line-height: 120%;

    color: #FAFAFD;

    background-color: #131418;
    border: none;

    cursor: pointer;
}
.article-form .button {
    margin-top: 32px;
    width: fit-content;
}

.article-sidebar {
    position: absolute;

    top: 198px;
    right: 73px;
}
.article-nav {
    display: flex;
    flex-direction: column;
}
.article-nav__item {
    font-weight: 300;
    font-size: 15px;
    line-height: 150%;
    text-decoration: none;

    color: #000;
}
.article-nav__item + .article-nav__item {
    margin-top: 3px;
}
.article-nav__item.heading {
    margin-bottom: 6px;
    font-weight: bold;
    line-height: 120%;
}
.article-nav__item + .article-nav__item.heading {
    margin-top: 22px;
}
/* Article page *Stop* */

/* Mobile menu *Start* */

.mm-btn {
    width: 35px;
    height: 15px;

    display: none;
    justify-content: space-between;
    flex-direction: column;

    border: none;
    background-color: transparent;

    cursor: pointer;
}
.mm-btn > span {
    display: block;

    width: 100%;
    height: 2px;
    background-color: #131418;
}
.mm-btn > span:nth-child(2) {
    margin-left: auto;
    width: 70%;
}
.m-menu {
    display: none;

    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-color: #FAFAFD;
    animation: fadeOut linear .3s;

    z-index: 5;
}
.m-menu.opened {
    display: block;
}
.m-menu > .container {
    position: relative;
    padding: 27px 10px;
    width: calc(100% - 20px);
    height: calc(100% - 54px);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.m-menu__close {
    position: absolute;
    top: 27px;
    right: 10px;

    width: 25px;
    height: 25px;

    border: none;
    background-color: transparent;
    background-image: url(../img/close.svg);
    background-position: center center;
    background-repeat: no-repeat;
}
.m-menu .header-nav {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
}
.m-menu .header-nav__item {
    padding: 12px 30px 12px 0;
    width: fit-content;

    font-weight: 400;
    font-size: 22px;
    line-height: 135%;
}
.header-nav__item.gray {
    color: #5B5B5B;
}
.m-menu__text {
    font-weight: 300;
    font-size: 12px;
    line-height: 135%;

    color: #5B5B5B;
}
.m-menu .separator {
    width: 49.5px;
    height: .6px;

    background-color: #131418;
}
.m-menu .header-contact {
    font-weight: 300;
    font-size: 15px;
    line-height: 150%;
    text-decoration: none;

    color: #131418;
}

.m-catalogue {
    display: none;
}
.catalogue-sidebar__m-close {
    display: none;
}

/* Mobile menu *Stop* */

.overlay {
    position: fixed;
    top: 0;
    left: 0;

    display: none;

    width: 100vw;
    height: 100vh;
}
.overlay.opened {
    display: block;
}
.overlay > .container {
    position: relative;

    width: 100%;
    height: 100%;
}
.gallery-overlay {
    position: absolute;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    background-color: rgba(19, 20, 24, 0.7);
}
.gallery-overlay.opened {
    display: block;
}
.gallery-overlay > .container {
    padding: 54px 10%;

    position: relative;
    top: 0;
    left: 0;
    width: calc(100% - 20%);
    height: calc(100% - 108px);
}
.gallery-overlay__close {
    position: absolute;
    top: 54px;
    right: 5%;

    display: block;
    height: 46px;
    width: 46px;

    border: none;
    background-color: transparent;
    background-image: url(../img/close-white.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    cursor: pointer;

    z-index: 5;
}
.gallery-overlay__center {
    position: relative;

    height: calc(100% - 139px);

    display: flex;
    flex-direction: column;
}
.gallery-overlay__prev, .gallery-overlay__next {
    position: absolute;

    padding: 10px;

    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: rgba(19, 20, 24, 0.7);
    border: none;

    cursor: pointer;
}
.gallery-overlay__next {
    left: unset;
    right: 0;
}
.gallery-overlay__next > img {
    transform: rotate(180deg);
}
.gallery-overlay__current {
    width: 100%;
    height: 100%;
}
.gallery-overlay__next {
}
.gallery-overlay__wrapper {
    padding-bottom: 20px;

    width: 100%;

    overflow-y: hidden;
    overflow-x: auto;
}
.gallery-overlay__wrapper::-webkit-scrollbar {
    height: 5px;
}

.gallery-overlay__wrapper::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}
.gallery-overlay__wrapper::-webkit-scrollbar-thumb {
    background-color: #000000;
}
.gallery-overlay__list {
    margin-top: 16px;

    display: flex;
    align-items: center;
}
.gallery-overlay__item {
    min-width: 133px;
    max-width: 133px;
    height: 98px;

    border: 2px solid transparent;

    cursor: pointer;

    transition: linear .2s;
}
.gallery-overlay__item.selected {
    border-color: #FAFAFD;
}
.gallery-overlay__item:not(:last-child) {
    margin-right: 20px;
}
.gallery-overlay__item > img {
    height: 100%;
    width: 100%;
} 


/* Adaptive styles *Start* */

@media (max-width: 1500px) {
    .main-section {
        background-size: 100% 100%;
    }
    .catalogue-content .apartament-list {
        grid-template-columns: repeat(2, 1fr);
    }
    .articles-list {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 1400px) {
    .staff-list {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 1400px) {
    .header-nav__item:not(:last-child) {
        margin-right: 24px;
    }
    .articles-sidebar {
        min-width: 200px;
        width: fit-content;
    }
}
@media (max-width: 1200px) {
    .header > .container {
        margin: 0 10px;
    }
    .main-section__wrapper {
        flex-direction: column;
    }
    .main-section__wrapper > div:first-child {
        display: flex;
        flex-direction: column-reverse;
    }
    .main-section__h2 {
        margin-bottom: 8px;
    }
    .main-section__text {
        margin-top: 116px;
    }
    .preloader {
        background-image: none;
    }
    .preloader > .container {
        flex-direction: column;
    }
    .catalogue-content .apartament-list {
        grid-template-columns: 1fr;
    }
    .footer > .container {
        margin: 0 10px;
    }
    .our-staff > .container {
        margin: 16px 10px;
    }
    .articles-section > .container {
        margin: 16px 10px;
    }
    .product-page > .container {
        margin: 10px;
    }
    .stories-section {
        width: 100vw;
    }
    .stories-section > .container {
        margin: 28px 10px;
    }
    .our-mission > .container {
        margin: 0 10px;
    }
    .offer-section {
        margin-left: 10px;
        width: calc(100vw - 15px);
    }
    .try-section > .container {
        margin: 0 10px;
    }
    .reviews-section > .container {
        margin: 100px 10px;
    }
}
@media (max-width: 1020px) {
    .header > .container > .header-nav {
        display: none;
    }
    .header .mm-btn {
        display: flex;
    }
    .our-mission__header {
        margin-bottom: 66px;
        flex-direction: column;
    }
    .our-mission__img {
        margin-right: 0;
        width: 100%;
        height: auto;
    }
    .our-mission__content {
        flex-direction: column;
    }
    .our-mission__content-wrapper {
        margin-top: 24px;

        width: 100%;
    }
    .our-mission__content-wrapper > div {
        display: flex;
        flex-direction: column-reverse;

        width: 100%;
    }
    .mission-stats {
        margin-top: 46px;
    }
    .our-mission__header .section-p {
        width: 100%;
    }
    .section-list {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 334px;
    }
    .lead-list {
        grid-template-columns: 1fr;
    }
    .reviews-wrapper {
        flex-direction: column;
    }
    .reviews-list + .reviews-list {
        margin-left: 0;
        margin-top: 24px;
    }
    .catalogue-sidebar {
        display: none;

        position: absolute;
        top: 0;
        left: 0;

        padding: 27px 10px;

        height: calc(100vh - 54px);
        width: calc(100vw - 20px);

        overflow-y: auto;

        background-color: #FAFAFD;
        z-index: 5;
    }
    .catalogue-sidebar.opened {
        display: block;
    }
    .catalogue-sidebar__map > * {
        width: 100%;
        height: 284px;
    }
    .catalogue-sidebar__m-close {
        display: block;
        margin-left: auto;
        margin-bottom: 32px;
        width: 25px;
        height: 25px;

        border: none;
        background-color: transparent;
        background-image: url(../img/close.svg);
        background-position: center center;
        background-size: 100% 100%;

        cursor: pointer;
    }
    .m-catalogue {
        display: block;
        margin-bottom: 46px;
    }
    .m-catalogue > button {
        display: block;

        margin-top: 12px;
        margin-left: auto;
    }
    .catalogue > .container {
        margin: 16px 10px;
    }
    .catalogue-sidebar + .catalogue-content  {
        margin-left: 0;
    }
    .catalogue-content .apartament-list {
        grid-template-columns: repeat(2, 1fr);
    }
    .article-page > .container {
        margin-top: 43px;
    }
    .article-section {
        width: 100%;
    }
    .article-sidebar {
        display: none;
    }
    .product-banner {
        background-size: 100% 100%;
    }
    .footer > .container {
        padding: 46px 0;
        flex-direction: column-reverse;
    }
    .footer-form__text {
        margin-top: 0;
        margin-bottom: 41px;
    }
    .footer__left {
        width: 100%;
    }
    .footer__left + .footer__right {
        margin-left: 0;
    }
    .footer-form__disclaimer {
        margin-top: 23px;
    }
    .footer-nav + .footer__copyright {
        margin-top: 235px;
    }
    .footer-nav + .footer__copyright {
        margin-top: 45px;
    }
    .footer__title + .footer-nav {
        margin-top: 60px;
    }
    .footer__right {
        width: 100%;
        margin-bottom: 60px;
    }
    .staff-list {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 900px) {
    .articles-list {
        grid-template-columns: 1fr;
    }
    .product-content {
        grid-template-columns: 1fr;
    }
    .product-sidebar {
        position: fixed;
        bottom: 0;
        left: 0;

        padding: 10px;
        max-width: unset;
        width: calc(100vw - 20px);

        background-color: #FAFAFD;
        border-top: .6px solid lightgray;
    }
    .product-sidebar .separator {
        display: none;
    }
    .product-sidebar__text {
        display: none;
    }
    .product-sidebar__links {
        display: none;
    }
    .product-btn:first-child {
        width: 100%;
    }
}
@media (max-width: 800px) {
    .article-form {
        grid-template-columns: 1fr;
    }
    .article-section:not(:last-child) {
        margin-bottom: 96px;
    }
    .article-page .article-form {
        margin: 96px 0;
    }
    .article-banner {
        margin: 24px 0 105px 0;
        height: 105px;
    }
    .article-h1 {
        font-weight: 400;
        font-size: 32px;
        line-height: 90%;
    }
    .article-h2 {
        font-weight: 300;
        font-size: 15px;
        line-height: 150%;
    }
    .article-page > .container {
        margin: 43px 10px 0 10px;
    }
    .text-wrapper {
        grid-template-columns: 1fr;
    }
    .article-h3 {
        font-weight: 400;
        font-size: 32px;
        line-height: 90%;
    }
    .footer__title {
        font-weight: 400;
        font-size: 46px;
        line-height: 100%;
    }
    .footer-nav {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .catalogue-banner {
        height: 389px;
        background-size: 100% 100%;
    }
    .catalogue-banner > .container {
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    .catalogue-banner .learn-more {
        margin-left: auto;
    }
    .preloader__title {
        font-size: 48px;
    }
    .our-staff > .container {
        flex-direction: column;
    }
    .staff-sidebar {
        height: 289px;
    }
    .staff-sidebar > .container {
        padding: 49px 24px;
        width: calc(100% - 48px);
        height: calc(100% - 98px);
    }
    .staff-sidebar + .staff-list {
        margin-left: 0px;
        margin-top: 40px;
    }
    .staff-sidebar .logo {
        display: none;
    }
    .catalogue-content .apartament-list {
        grid-template-columns: 1fr;
    }
    .articles-section > .container {
        flex-direction: column;
    }
    .articles-sidebar {
        padding: 32px 0;
        width: 100%;
    }
    .articles-sidebar + .articles-list {
    margin-left: 0px;
}
.gallery-overlay {
    background-color: #000;
}
.gallery-overlay > .container {
    padding: 0 5px;
    width: calc(100% - 10px);
    height: calc(100% - 30px);
}
.gallery-overlay__center {
    justify-content: center;
}
.gallery-overlay__current {
    height: fit-content;
}
.gallery-overlay__close {
    padding: 5px;
    background-size: 80%;
    background-color: rgba(0, 0, 0, 0.25);
}
.form-overlay__wrapper {
    flex-direction: column;
}
.form-overlay__back-btn,.form-overlay__confirm-btn  {
    margin-right: 0;
    width: 100%;
}
.form-overlay__back-btn + .form-overlay__confirm-btn {
    margin-top: 10px;
}
.offer-section__header {
    margin-left: 0;
}
.offer-section {
    width: calc(100vw - 15px);
    padding-top: 100px;
    margin: 46px 10px;
}
}
@media (max-width: 600px) {
    .staff-list {
        grid-template-columns: 1fr;
    }
    .staff-list__preview {
        display: block;
        min-height: 282px;
        height: auto;
    }
    .articles-list__item {
        min-height: 300px;
        height: fit-content;
    }
    .articles-list__title {
        font-size: 36px;
    }
    .articles-list__text {
        font-size: 13px;
    }
    .articles-list__link {
        font-size: 14px;
    }
    .product-gallery__images {
        display: none;
    }
    .product-gallery > img:first-child {
        width: 100%;
    }
    .product-gallery {
        grid-template-columns: 1fr;
    }
    .product-page__title {
        font-weight: 400;
        font-size: 22px;
        line-height: 135%;
    }
    .breadcrumbs__item > * {
        max-width: 100px;
    }
    .form-overlay__text {
        font-size: 16px;
        width: 100%;
    }
    .form-overlay__back-btn, .form-overlay__confirm-btn {
        font-size: 16px;
    }
    .preloader > .container {
        margin: 0 10px;
    }
    .main-section__title {
        font-weight: 400;
        font-size: 64px;
        line-height: 100%;
    }
    .main-section__text {
        max-width: 100%;
    }
    .section-list__title {
        font-weight: 400;
        font-size: 26px;
        line-height: 100%;
    }
    .section-list__text {
        font-weight: 300;
        font-size: 15px;
        line-height: 150%;
    }
    .mission-stats {
        grid-template-columns: repeat(2, 1fr);
    }
    .main-section {
        height: fit-content;
    }
    .main-section > .container {
        padding-top: 200px;
    }
    .main-section__h2 {
        width: 90%;
    }
    .reviews-list__item {
        flex-direction: column;
    }
    .reviews-list__preview {
        margin-bottom: 10px;
    }
    .offer-section {
        display: none;
    }
    .reviews-wrapper .reviews-list:first-child {
        margin-top: 79px;
    }
}
/* Adaptive styles *Start* */